body {
    background-image: url('Szintek.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: white;
}
.kep{
    width: 700px;
}
.iras{
    color: white;
    font-size: 20px;
}