body {
    color: white;
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    
}
.kep{
    width: 700px;
}
.iras{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.col{
    background-color: rgb(149, 239, 239);
    font-size: 30px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.row{
    font-family: 'Times New Roman', Times, serif;
}
td, th{
    width: 200%;
    font-family: 'Times New Roman', Times, serif;
}
